.simulation {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  grid-template-columns: auto max(25vw, 300px);

  overflow: hidden;
}

.outputContainer {
  display: flex;
  justify-content: space-between;

  grid-column: 1 / span 2;

  padding-inline: 1vw;

  overflow-x: scroll;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;

  gap: 1vw;

  padding: 1vw;

  overflow-x: scroll;
}

.input {
  min-width: 200px;
  width: 25vw;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 1vw;
}

.trialButton {
  width: 100px;
  height: 100px;

  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    hsl(44, 100%, 50%) 51%,
    #ff8008 100%
  );
  background-size: 130% auto;
  font-size: 20pt;
  border: 2px solid white;
}

.trialButton:hover {
  box-shadow: 0 0 20px #eee;
}

.trialButton:active {
  transform: translateY(2px);
}
