.factors {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: auto max(25vw, 400px);

  height: 100%;
}

.settings {
  grid-column: 1 / span 2;

  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 1vw;
  justify-content: space-between;

  overflow: scroll;
}

.formula {
  overflow-y: hidden;
  padding: 10px;
}

.cost {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1vw;
}

.formula > div {
  height: 100%;
}

.formula > div > div {
  height: 100% !important;
}
