.container {
  display: grid;
  grid-template-rows: 1fr 6vh;
  gap: 1vh;

  padding: 1vh;

  color: var(--color2);
}

.buttonBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1vw;
}
